1. List manupulation

In [8]:
movies =["interception", "Borat", "iron_man", "the_godfather", "iron_man2"]
print("second movie is:", movies[1])
movies.append("ip_man")
print(movies)
movies.remove("interception")
print(movies)

second movie is: Borat
['interception', 'Borat', 'iron_man', 'the_godfather', 'iron_man2', 'ip_man']
['Borat', 'iron_man', 'the_godfather', 'iron_man2', 'ip_man']

2. Dictionary operations

In [13]:
book1={"title":"Holud_himu_kalo_rab","Author":"Humayon_Ahamed","Year":2012,"genere":"fiction"}
print("title of the book is:", book1["title"])
book1['Year']=2024
print(book1)

title of the book is: Holud_himu_kalo_rab
{'title': 'Holud_himu_kalo_rab', 'Author': 'Humayon_Ahamed', 'Year': 2024, 'genere': 'fiction'}

3. Tuple unpacking

In [14]:
tuple=("shamim",25,23.4)
string,integer,float=tuple
print(string)
print(integer)
print(float)

shamim
25
23.4

4. Set operations

In [15]:
set1={1,3,5,6,9}
set2={1,2,3}
syemmetric_difference=set1.symmetric_difference(set2)
print(syemmetric_difference)

{2, 5, 6, 9}

5. String formatting

In [17]:
first_name= input("enter your first name:")
last_name= input("enter your last name:")
print(f"hello {first_name} {last_name}!")

enter your first name:shamim
enter your last name:ahamed
hello shamim ahamed!

6. List comprehension

In [18]:
number = [x**2 for x in range(1,20)]
print(number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]