1. positive or negeative

In [2]:
num=float(input("Enter a number: "))
if num > 0:
  print("Positive number")
elif num == 0:
  print("Zero")
else:
  print("Negetive number")

Enter a number: 45
Positive number

2. Largest of three numbers

In [3]:
num1=float(input("Enter 1st number:"))
num2=float(input("Enter 2nd number:"))
num3=float(input("Enter 3rd number:"))
largest= max(num1,num2,num3)
print("The largest number is",largest)

Enter 1st number:23
Enter 2nd number:54
Enter 3rd number:2
The largest number is 54.0

3. Grade Evaluation

In [6]:
score = float(input("Enter your score:"))
if score > 85:
  print("Excellent")
elif score > 70:
  print("Good")
else:
  print("Study hard")

KeyboardInterrupt: Interrupted by user

4. simple interest calculator

In [ ]:
p = float(input("Enter principle ammount: "))
r = float(input("Enter rate of interest in percent: ")) / 100
t = float(input("Enter time in years: "))
interest = (p*r*t)
print("The simple interest is",interest)

5. Even numbers in range

In [10]:
print("Even numbers from 1 to 100:")
for i in range(1, 101):
  if i % 2 == 0:
    print(i)

Even numbers from 1 to 100:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

6. Multiple numbers

In [11]:
mul = int(input("Enter a number: "))
print(f"The multiples of {mul} are:")
for i in range(1, 101):
  print(mul * i)

Enter a number: 5
The multiples of 5 are:
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495
500

7. Countdown from agiven number

In [14]:
countdown = int(input("Enter a number: "))
while countdown >= 0:
  print(countdown)
  countdown -= 1

Enter a number: 12
12
11
10
9
8
7
6
5
4
3
2
1
0

8. Factorial calculation

In [15]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
  factorial *= i
  print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 1
The factorial of 5 is 2
The factorial of 5 is 6
The factorial of 5 is 24
The factorial of 5 is 120

9. Sum of natural mumber

In [16]:
n = int(input("Enter a number: "))
total = 0
for i in range(1, n + 1):
  total += i
  print("The sum of natural numbers up to",n,"is",total)

Enter a number: 21
The sum of natural numbers up to 21 is 1
The sum of natural numbers up to 21 is 3
The sum of natural numbers up to 21 is 6
The sum of natural numbers up to 21 is 10
The sum of natural numbers up to 21 is 15
The sum of natural numbers up to 21 is 21
The sum of natural numbers up to 21 is 28
The sum of natural numbers up to 21 is 36
The sum of natural numbers up to 21 is 45
The sum of natural numbers up to 21 is 55
The sum of natural numbers up to 21 is 66
The sum of natural numbers up to 21 is 78
The sum of natural numbers up to 21 is 91
The sum of natural numbers up to 21 is 105
The sum of natural numbers up to 21 is 120
The sum of natural numbers up to 21 is 136
The sum of natural numbers up to 21 is 153
The sum of natural numbers up to 21 is 171
The sum of natural numbers up to 21 is 190
The sum of natural numbers up to 21 is 210
The sum of natural numbers up to 21 is 231

10. prime number checker

In [17]:
num = int(input("Enter a number: "))
if num > 1:
  for i in range(2, int(num ** 0.5) +1):
    if num % i == 0:
      print(num,"is not a prime number")
      break
  else:
    print(num,"is a prime number")
else:
  print(num,"is not a prime number")

Enter a number: 2
2 is a prime number

11. Fibonacci Sequence

In [21]:
num = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci series:")
for i in range(num):
  print(a, end='')
  a, b = b, a + b
print()

Enter the number of terms: 6
Fibonacci series:
011235

Vowel or consonant

In [22]:
char = input("Enter a character: ").lower()
if char in 'aeiou':
  print(char,"is a vowel")
else:
    print(char,"is a consonant")

Enter a character: w
w is a consonant

13. Guess the number Game

In [26]:
import random
numguess = random.randint(1, 100)
guess = None
while guess != numguess:
  guess = int(input("Guess the number between 1 and 100: "))
  if guess < numguess:
    print("TRY AGAIN")
  elif guess > numguess:
    print("TRY AGAIN")
  else:
    print("CONGRATULATIONS")

Guess the number between 1 and 100: 34
TRY AGAIN
Guess the number between 1 and 100: 56
TRY AGAIN
Guess the number between 1 and 100: 100
TRY AGAIN
Guess the number between 1 and 100: 34
TRY AGAIN

KeyboardInterrupt: Interrupted by user

14. Multipication Table

In [ ]:
num = int(input("Enter a number: "))
print(f"The multiplication table of {num} is:")
for i in range(1, 11):
  print(f"{num} x {i} = {num * i}")

15. Count Occurences of a charector

In [ ]:
string = input("Enter a string: ")
char = input("Enter a character: ")
count = string.count(char)
print(f"The character '{char}' appears {count} times in the string.")

16. check for Palindrome

In [ ]:
char = input("Enter a string: ")
if char == char[::-1]:
  print("The string is a palindrome")
  else:
    print("The string is not a palindrome")

17. Simple Calculator

In [27]:
def calculator ():
  num1 = float(input("Enter first number: "))
  num2 = float(input("Enter second number: "))
  operation = input("Enter operation (+, -, *, /): ")
  if operation == "+":
    result = num1 + num2
  elif operation == "-":
    result = num1 - num2
  elif operation == "*":
    result = num1 * num2
  elif operation == "/":
    result = num1 / num2
  if num2 == 0 and operation == "/":
    print("Error: Division by zero")
  else:
    print("Result:", result)
calculator()

Enter first number: 12
Enter second number: 3
Enter operation (+, -, *, /): +
Result: 15.0

18. Pattern Printing

In [28]:
h = int(input("Enter the height of the pattern: "))
for i in range(h):
  print ('' * (h - i - 1) + '*' * (2 * i + 1))

Enter the height of the pattern: 34
*
***
*****
*******
*********
***********
*************
***************
*****************
*******************
*********************
***********************
*************************
***************************
*****************************
*******************************
*********************************
***********************************
*************************************
***************************************
*****************************************
*******************************************
*********************************************
***********************************************
*************************************************
***************************************************
*****************************************************
*******************************************************
*********************************************************
***********************************************************
*************************************************************
***************************************************************
*****************************************************************
*******************************************************************

19. Sum of odd numbers:

In [29]:
n = int (input("Enter a number:"))
total = sum(i for i in range(1, n + 1, 2))
print("The sum of odd numbers up to",n,"is",total)

Enter a number:12
The sum of odd numbers up to 12 is 36

20. Dys in a month

In [31]:
month = input("Enter a month")
year = int(input("enter a year:"))
month = input("Enter a month")
year = int(input("enter a year:"))

if month == "2":
           if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            print("February has 29 days")
           else:
            print("February has 28 days")
elif month in ["4", "6", "9", "11"]:
           print(month,"has 30 days")
else:
           print(month,"has 31 days")


            print("February has 28 days")
elif month in ["4", "6", "9", "11"]:
           print(month,"has 30 days")
else:
           print(month,"has 31 days")
           if (year 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            print("February has 29 days")
            print("February has 28 days")
eli month in [4, 6, 9, 11]:
           print(month,"has 30 days")
else:
           print(month,"has 31 days")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-31-32f3b13a3e49>, line 5)