Exercised 1

In [2]:
def find_largest(a, b, c):
  return max(a, b, c)
print(find_largest(10, 12, 30))

30

Exercised 2

In [5]:
def factorial(n):
  if n==0:
    return 1
  else:
      return n*factorial(n-1)
print(factorial(7))

5040

Exercised 3

In [12]:
!pip install
from ast import operator
from math import add, sub, mul, div
print(operator.add(10, 20))
print(sub(10, 20))
print(mul(10, 20))
print(div(10, 20))

ERROR: You must give at least one requirement to install (see "pip help install")

ImportError: cannot import name 'add' from 'math' (unknown location)

Exercised 4

In [16]:
class rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
  def perimeter(self):
    return 2 * (self.length + self.width)

rect = rectangle(10, 20)
print(rect.area())
print(rect.perimeter())

200
60

Exercised 5

In [18]:
class bank_account:
  def __init__(self, account_number, balance=0):
    self.account_number = account_number
    self.balance = balance

  def deposit(self, amount):
    self.balance += amount
  def withdraw(self, amount):
    if amount > self.balance:
      raise ValueError("Insufficient balance")
    self.balance -= amount
    print("Withdrawal successful")
  def get_balance(self):
    return self.balance

account = bank_account("123456789", 1000)
account.deposit(500)
account.withdraw(200)
print(account.get_balance())

Withdrawal successful
1300

Exercised 6

In [22]:
class Bank:
  def __init__(self):
    self.accounts = []


  def add_account(self, account):
    self.accounts.append(account)

  def total_funds(self):
    return sum(account.get_balance() for account in self.accounts)

account1 = bank_account("123456789", 1000)
account2 = bank_account("987654321", 2000)
bank = Bank()
bank.add_account(account1)
bank.add_account(account2)
print(bank.total_funds())

3000

Exercised 7

In [23]:
def sum_0f_evens(numbers):
  return sum(n for n in numbers if n%2==0)
numbers = list(map(int, input("Enter a list of numbers: ").split()))
print(sum_0f_evens(numbers))

Enter a list of numbers: 34
34

Exercised 8

In [25]:
def is_prime(n):
  if n<2:
    return False
  for i in range(2, int(n**0.5)+1):
    if n%i==0:
      return False
  return True
print(is_prime(7))

True

Exercised 9

In [27]:
class student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade
  def display(self):
    print(f"Name: {self.name}, Age: {self.age}, Grade: {self.grade}")

  def average(self):
    return sum(self.grade)/len(self.grade)

student = student("Alice",20,[80, 90, 75])
student.display()
print(student.average())

Name: Alice, Age: 20, Grade: [80, 90, 75]
81.66666666666667

Exercised 10

In [29]:
def get_common_elements(list1, list2):
  return list(set(list1) & set(list2))
print(get_common_elements([1, 2, 3, 4], [3, 4, 5, 6]))

[3, 4]

Exercised 11

In [31]:
class vehicle:
  def __init__(self, brand, speed=0):
    self.brand = brand
    self.speed = speed
  def accelerate(self, amount):
    self.speed += amount
    print(f"The {self.brand} is now going at {self.speed} mph")
  def brake(self, amount):
    self.speed -= amount
    print(f"Speed decreased to {self.speed} mph")

car = vehicle("Toyota", 60)
car.accelerate(20)
car.brake(45)

The Toyota is now going at 80 mph
Speed decreased to 35 mph

Exercised 12

In [32]:
def get_unique_elements(numbers):
  return list(set(numbers))
print(get_unique_elements([1, 2, 3, 4, 2, 3, 5]))

[1, 2, 3, 4, 5]

Exercised 13

In [34]:
class library:
  def __init__(self):
    self.books = []
  def add_book(self, book):
    self.books.append(book)
    print(f"{book} has been added to the library")

  def remove_book(self, book):
    if book in self.books:
      self.books.remove(book)
      print(f"{book} has been removed from the library")
    else:
      print(f"{book} is not in the library")
  def display_books(self):
    print("Books in the library:")

library = library()
library.add_book("The Great Gatsby")
library.add_book("To Kill a Mockingbird")
library.display_books()
library.remove_book("The Great Gatsby")
library.display_books()

The Great Gatsby has been added to the library
To Kill a Mockingbird has been added to the library
Books in the library:
The Great Gatsby has been removed from the library
Books in the library: