1. Integer operation

In [1]:
a = 100
b= 12
addition = a+b
subtractiin = a-b
multiplication = a*b
division = a/b
print(addition)
print(subtractiin)
print(multiplication)
print(division)

112
88
1200
8.333333333333334

2. Floating-point precision

In [2]:
radius = 9.8
pi = 3.1416
area = pi*radius*radius
print(area)

301.71926400000007

3. String Concatenation

In [4]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
grettings = "hello" + first_name + ""  + last_name + ", welcome to python programming class"
print(grettings)

Enter your first name:shamim
Enter your last name:ahamed
helloshamimahamed, welcome to python programming class

4.String Slicing

In [5]:
sentence = "Learning python is fun."
firstslice = sentence[9: 15]
secondslice = sentence[-4:-1]
print(firstslice)
print(secondslice)

python
fun

5. String method

In [6]:
text ="Data science is amazing"
upper_text = text.upper()
rep_text = text.replace("amazing", "fantastic")
print(upper_text)
print(rep_text)

DATA SCIENCE IS AMAZING
Data science is fantastic

6. Boolean logic

In [10]:
num = int(input("Enter a number: "))
if num > 10 and num <100:
  print(num, "is valid")
else:
    print(num, "is invalid")

Enter a number: 23
23 is valid

7. List creation and access

In [11]:
fruits = ["apple", "mango", "bananan", "orange"]
print("first food is:", fruits[0])
print("Last food is:", fruits[-1])
fruits.append("grapes")
print("Updated list: ", fruits)

first food is: apple
Last food is: orange
Updated list:  ['apple', 'mango', 'bananan', 'orange', 'grapes']

8.List operation

In [12]:
num = [3, 4, 7, 8, 9]
totals = sum(num)
print("sum of total is:", totals)
new_num = [num * 2 for num in num]
print("new list is:", new_num)

sum of total is: 31
new list is: [6, 8, 14, 16, 18]

9. Tuple creation and access

In [13]:
tuple = ("shamim", 12, 23.4, True)
print("second element is:", tuple[1])
check_true = True in tuple
print("True is in tuple:", check_true)

second element is: 12
True is in tuple: True

10. Set operations

In [16]:
set1 = {2, 1, 5, 7, 8}
set2 = {3, 1, 7, 5, 4}
intersection = set1.intersection(set2)
print("intersection of set is:", intersection)
union = set1.union(set2)
print("union of set is:", union)

intersection of set is: {1, 5, 7}
union of set is: {1, 2, 3, 4, 5, 7, 8}

11. Dictionary cration and access

In [18]:
shamim = {"name": "shamim", "age": 24, "city": "dhaka"}
print("name:", shamim["name"])
shamim["profession"] = "data scientist"
print("updated dictionary:", shamim)
print("updated dictionary:", shamim)

name: shamim
updated dictionary: {'name': 'shamim', 'age': 24, 'city': 'dhaka', 'profession': 'data scientist'}
updated dictionary: {'name': 'shamim', 'age': 24, 'city': 'dhaka', 'profession': 'data scientist'}

12. Dictionary operations

In [19]:
student={"shamim": 90, "bob": 88, "charlie": 78}
print("student names", student.keys())
student.pop("charlie")
print("updated student:", student)

student names dict_keys(['shamim', 'bob', 'charlie'])
updated student: {'shamim': 90, 'bob': 88}

13.List slicing

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("first three elements:", numbers[:3])
print("last three elements:", numbers[-3:])
print("Elements from index 2 to 6", numbers[2:7])

first three elements: [1, 2, 3]
last three elements: [7, 8, 9]
Elements from index 2 to 6 [3, 4, 5, 6, 7]

14.List sorting

In [21]:
numbers= [5, 2, 8, 1, 9]
numbers.sort()
print("sorted list:", numbers)
numbers.sort(reverse=True)
print("reverse sorted list:", numbers)

sorted list: [1, 2, 5, 8, 9]
reverse sorted list: [9, 8, 5, 2, 1]

15. Set uniqueness

In [22]:
numbers= [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print("unique numbers:", unique_numbers)

unique numbers: {1, 2, 3, 4, 5}

16. set differences

In [24]:
a={1,2,3,4,5}
b={4,5,6,7,8}
print("a-b", a.difference(b))
print("b-a", b.difference(a))

a-b {1, 2, 3}
b-a {8, 6, 7}

17. string formatting

In [25]:
name = "shamim"
age = 24
city = "lakshmiphur"
sentence = "{} is {} years old and lives in {}".format(name, age, city)
print(sentence)

shamim is 24 years old and lives in lakshmiphur

18. List comprehension

In [26]:
squares= [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

19. Dictionary from two lists

In [27]:
names = ["shamim", "bob", "charlie"]
ages = [24, 25, 26]
student = dict(zip(names, ages))
print(student)

{'shamim': 24, 'bob': 25, 'charlie': 26}

20. Nested list access

In [29]:
matrix = [[1,2], [3,4], [5,6]]
print("second row is:", matrix[1])
print("Element at [2][1]:", matrix[2][1])

second row is: [3, 4]
Element at [2][1]: 6