In [1]:
print('hello world')

hello world

*italicized text*

Basic arithmetic operations

In [2]:
a = 17
b = 11
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

28
6
187
1.5454545454545454
1
6
34271896307633

In [3]:
name= 'Alice'
age = 24
height = 5.7
print(name, age, height)

Alice 24 5.7

In [4]:
name = input('what is your name?')
colour = input('what is your favourite colour?')
print(f"hello {name}, your favourite colour is {colour}.")

what is your name?shamim
what is your favourite colour?white
hello shamim, your favourite colour is white.

In [6]:
num1= int(input("Enter the first number:"))
num2= int(input("Enter the second number:"))
print("Sum of two number is:", num1 + num2)

Enter the first number:56
Enter the second number:34
Sum of two number is: 90

In [8]:
calcius = 23
fahrenhit = (calcius * 9/5) + 32
print("Fahrenhit: ", fahrenhit)

Fahrenhit:  73.4

In [9]:
kilo = 12
miles = kilo * 0.62137
print("Miles: ", miles)

Miles:  7.45644

In [10]:
name = input("Enter your name: ")
print("uppercase", name.upper())
print("lowercase", name.lower())

Enter your name: my name is shamim
uppercase MY NAME IS SHAMIM
lowercase my name is shamim

In [11]:
num_str ="6586"
num_int = int(num_str)
print(num_int)

6586

In [13]:
name = "shamim"
age = 24
print(f"{name} is {age} years old.")

shamim is 24 years old.